body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
    color: white;
}
header{
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
}
header h1{
    color: greenyellow;
}
header p{
    font-size: 18px;
}
header a{
    color: greenyellow;
}
header a:hover, header a:focus{
    color: black;
    background-color: greenyellow;
    border: 1px solid greenyellow;
}
a{
    color: greenyellow;
}
ul{
    padding-left: 20px;
}
ul li{
    font-size: 16px;
    padding-bottom: 5px;
}
p{
    font-size: 16px;
}
.company a{
    font-weight: 500;
    font-size: 18px;
    color: greenyellow;
}
.company a:hover, .company a:focus{
    background-color:greenyellow;
    color: black;
}
.range{
    font-weight: 200;
}
.role{
    padding-bottom: 20px;
    border-top: 5px solid greenyellow;;
}
h1{
    font-size: 40px;
    font-weight:600;
}
h2{
    font-size: 26px;
    font-weight:600;
}
h3{
    font-size: 18px;
    font-weight:300;
}
ul li a:hover, ul li a:focus{
    background-color:greenyellow;
    color: black;
}
.samples{
    padding-left: 15px;
}
.samples li{
    padding-top: 5px;
}
