body{
    font-family: 'Roboto Condensed', sans-serif;
}
header{
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: rgb(10,45,95);
    color: white;
}
header h1{
    font-size: 22px;
}
header p{
    font-size: 16px;
}
header a{
    color: rgb(233, 229, 16);
}
header a:hover, header a:focus{
    color: rgb(10,45,95);
    background-color:rgb(233, 229, 16);
    border: 1px solid rgb(233, 229, 16);
}
ul{
    padding-left: 20px;
}
ul li{
    font-size: 16px;
    padding-bottom: 5px;
}
p{
    font-size: 16px;
}
.company a{
    font-weight: 500;
    font-size: 18px;
    color: rgb(10,45,95);
}
.company a:hover{
    background-color:rgb(233, 229, 16);
}
.range{
    font-weight: 200;
}
.role{
    padding-bottom: 20px;
    border: .5px solid gray;
}
h1{
    font-size: 20px;
    font-weight:600;
}
h2{
    font-size: 18px;
    font-weight:600;
}
h3{
    font-size: 18px;
    font-weight:300;
}
.btn{
    background-color:rgb(10,45,95);
    border: .5px solid rgb(10,45,95);
}
.btn:hover, .btn:focus{
    color: rgb(10,45,95);
    border: 1px solid rgb(10,45,95);
    background-color:rgb(233, 229, 16);
}
